
body {
    background-color: #C5F9F6;
}

h2 {
    color: #042A2B;
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline;
    
}

h1{
    color: black;
    text-align: center;
    font-size: 43px;
    /* border-color: black; border: solid; border-width: 1px; */

   
}

#header-1 > div {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    
}

#main-1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#main-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* padding-top: 1%; */
}

.box {
    width: 26vw;
    height: 32vh;
    background-color: #5EB1BF;
    padding-bottom: 5%;  
    border-color: #587f9e; border: solid; border-width: 5px;
    
}

.box1 {

    width: 26vw;
    height: 32vh;
    /* border: 1px solid black; */
    background-color: #5EB1BF;
    padding-bottom: 5%;
    border-color: #587f9e; border: solid; border-width: 5px;
}

.box2 {

    width: 26vw;
    height: 32vh;
    /* border: 1px solid black; */
    background-color: #5EB1BF;
    padding-bottom: 5%;
    
}


.boxvision{
    display: flex;
    justify-content: center;
    height: 11vh;
  
}

 #header-1> div input{
    display: flex; 
    justify-content: center;
    width: 70vw;
    height: 7vh;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: auto;
    border-color: #587f9e; border: solid; border-width: 5px;
   
}

#header-2 > input {
    height: 5vh;
    width: 22vw;
    text-align: center;
    font-size: 18px;
    margin: auto;
    display: block; 
    font-family: 'Permanent Marker', cursive;
    
     
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.picGrid {
    width: 26vw;
    height: 32vh; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #21587f9e;
  padding: 10px;
  height: 38vh;
  width: 25vw;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0;
  font-size: 30px; */
}

.grid-container1 {
    display: block;
    gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #587f9e;
    padding: 10px;
    width:25vw;
}
.grid-item1 {
    display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    border: .5px solid #5EB1BF;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    height: 16vh;
    /* width: 25vw; */
    gap: 10px;
    padding: 10px;
  }
header > div > form {
    padding-bottom: -1%;
  }

.addbtn {
    
    border-radius: 2px;
    font-size: 15px;
    padding: 3px 15px;
    background-color: rgb(164, 167, 168);
    border-radius: 3%;
    transition: .4s;
    float: right;
    height: 3vh;
    width: 5vw; 
    text-align: center;    
}

button.remove {
    height: 2vh;
    width: 3vw;
    
}
.addbtn:hover {
    font-size: 18px;
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41; 
}

.show {display:block;}

li{
    /* height: 5vh;
    width: 22vw; */
  
    text-align: left;
    font-size: 20px;
    margin: auto; 
    font-family: 'Permanent Marker', cursive;
    overflow-wrap: break-word;
}